
  .signin {
  position: absolute;
  width: 158.96px;
height: 46.04px;
left: 989.98px;
top: 32px;
font-weight: 1000;
font-family: poppins;
  margin: auto;
  border-radius: 20px;
  background-color: #245C6E;
  box-shadow: 10px 15px 40px #36486b;
  color: #245C6E ;
  border:solid #245C6E;
}

.signin:hover {
  border: none;
  background-color: #245C6E;
  opacity: 1;
  color: #D2EBE7;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: ;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: #245C6E;
}
.signin {
  cursor: pointer;
  --color1: #36486b;
  --color2: #bccad6;
  font-family: poppins;
  text-align: center;
  font-size: 20px;
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

@keyframes move {
  from {
    background-position: 0px;
  }

  to {
    background-position: 1000px;
  }
}

.button {
   display: inline-block;
   position: absolute;
width: 300px;
height: 30.62px;
left: 87px;
top: 413px;
   z-index: 1;
   overflow: hidden;
   text-decoration: none;
   font-family: poppins;
   font-weight: 1000;
   font-size: 1.2em;
   text-align: center;
   padding: 0.75em 1em;
   color: #245C6E;
   border: 0.15em solid #245C6E ;
   border-radius: calc(0.75em + 0.5em + 0.15em);
   transition: 4s;
}
 .button:before, .button:after {
   content: "";
   position: absolute;
   top: -1.5em;
   z-index: -1;
   width: 200%;
   aspect-ratio: 1;
   border: none;
   border-radius: 40%;
   background-color: #5A97A4;
   transition: 4s;
}
 .button:before {
   left: -80%;
   transform: translate3d(0, 5em, 0) rotate(-340deg);
}
 .button:after {
   right: -80%;
   transform: translate3d(0, 5em, 0) rotate(390deg);
}
 .button:hover, .button:focus {
   color: white;
}
 .button:hover:before, .button:focus:before, .button:hover:after, .button:focus:after {
   transform: none;
   background-color: rgba(36, 92, 110, 0.51);
}

.signup {
  position: absolute;
width: 158.96px;
height: 46.04px;
left: 1177.6px;
top: 32px;
font-weight: 1000;
font-family: poppins;
  margin: auto;
  border-radius: 20px;
  background-color: #667292;
  box-shadow: 10px 15px 40px #36486b;
  color: #bccad6;
  border: solid white;
  cursor: pointer;
}

.signup:hover {
  border: white;
  background-color: #D2EBE7;
  opacity: 1;
  color: #D2EBE7;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: ;
}

.btn:hover {
  transition: 0.5s ease-in-out;
  background: #D2EBE7;
}
.signup {
  --color1: #36486b;
  --color2: #bccad6;
  font-family: poppins;
  text-align: center;
  font-size: 20px;
  background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 30px,
    var(--color2) 30px,
    var(--color2) 60px
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
}

@keyframes move {
  from {
    background-position: 0px;
  }

  to {
    background-position: 1000px;
  }
}


nav{
position: fixed;
z-index: 9;
width: 1520px;
height: 110px;
left: 0px;
top: 0px;

background: rgba(18, 18, 18, 0.6);
}
nav a{
  color: white;
}
nav a:hover {
  color: #45D1C9 !important;
}
nav a img{
	/* med care logo */
position: absolute;
width: 172px;
height: 168px;
left: 57px;
top: -1px;
background: url(med_care_Logo-removebg-preview.png);
}
.dropdown-trigger {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: none;
  list-style: none;
}

.dropdown-menu li {
  cursor: pointer;
}

#polygon:hover .dropdown-trigger {
  display: block;
}

#polygon:hover .dropdown-menu {
  display: block;
}
#polygon {
  /* Vector */
position: absolute;
left: 34.2%;
right: 62.9%;
top: 42.03%;
cursor: pointer;
}

#polygon:hover ~ #choices {
  display: block;
}

h1 {
  
position: absolute;
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48.4513px;
line-height: 53px;

color: #0E3440;
}
h6{
position: absolute;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18.4739px;
line-height: 28px;

color: #484848;

}
.card
{
  /* Card */

position: relative;
width: 302.49px;
height: 79.04px;
left: 1112.47px;
top: 353px;

background: #FFFFFF;
box-shadow: 0px 2.8743px 17.2458px -0.718575px rgba(0, 0, 0, 0.2);

border-radius: 28.743px;

}
::placeholder {
  color: rgba(255, 255, 255, 0.47);

font-family: poppins;
font-weight: 1000;
font-size: 19px;
font-style: normal;
text-align: center;
}

/* The switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #54A798;
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2.1px;
  bottom: 2.2px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
  border:solid, #54A798;

}

input:focus + .slider {
  box-shadow: 0 0 1px #54A798;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
   background-color:#54A798 ; 
   
}
.slider:active:before {
  background-color: #ccc;
}

h3 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 23.2793px;
line-height: 35px;
/* identical to box height */
text-align: center;

color: #404040;
}



body {
    font-family: 'Poppins', sans-serif;
}
.start {
  position: absolute;
  color:#5A97A4 ;
  top: 350px;
  left: 160px;
}
h5 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17.3721px;
line-height: 26px;
/* identical to box height */
text-align: center;
color: #767676;
position: absolute;
height: 26px;
left: 158.61px;
top: 288.57px;
text-align: center;

}
blockquote {
  background: #FFFFFF;
box-shadow: 0px 3.43167px 20.59px -0.857918px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(17.1584px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12.6858px;
}

blockquote p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 19.9872px;
line-height: 27px;
/* identical to box height */
color: #404040;
left: 140px;    
top: 10px;
position: absolute;
}

 blockquote svg {
      /* Ellipse 12 */
      left: 19px;
padding: 20px;
top: 1px;
    }

#appointement {
  box-sizing: border-box;
cursor: pointer;
position: absolute;
width: 265.79px;
height: 52.12px;
left: 75.13px;
top: 390.22px;

border: 0.868607px solid #24306E;
border-radius: 20.8466px;
/* Book an Appointment */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17.9741px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #24306E;
}
#patients{
position: absolute;
width: 73.22px;
height: 73.22px;
left: 40px;
top: 38px;
}

#patient-of {
  position: absolute;
  top: 42px;
  left: 140px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10.387px;
line-height: 16px;
/* identical to box height */

color: #767676;

}
#opinions{
  /* Thanks for all the services, no doubt it is the best hospital. */

position: absolute;
width: 159px;
height: 32px;
left: 121.02px;
top: 90.95px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10.387px;
line-height: 16px;

color: #404040;

}
#articles-card{
  position: absolute;
width: 531.59px;
height: 244.08px;
left: 776.56px;
background: #FFFFFF;
box-shadow: 0px 3.43167px 20.59px -0.857918px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(17.1584px);
border-radius: 12.6858px;
}
.right-articles-img{
  position: absolute;
width: 183px;
height: 183px;
left: 9px;
top: -52px;
border-radius: 21px;
}
.right-articles-img-div{
position: absolute;
width: 200px;
height: 145px;
left: 34px;
top: 64px;

background: #245C6E;
border-radius: 30.4013px;
}
#article-name{
  position: absolute;
top: 20px;
left: 260px;
letter-spacing: 0.04;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15.7419px;
color: #404040;
}
#seemore{

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17.8466px;
line-height: 130%;
/* or 27px */
letter-spacing: 0.004em;
cursor: pointer;
color: #24306E;
}
#description{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17.3721px;
line-height: 160%;
/* or 28px */
color: #404040;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

footer {
  /* Rectangle de footer*/
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
position: absolute;
width: 1490px;
height: 564px;
left: 1px;
top: 4184px;
 padding: 20px;
  font-family: Poppins, sans-serif;
background: #5A97A4;
}

.footer-item {
  width: 30%;
  margin: 10px;
  display: inline-block;
}



footer h4 {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
/* identical to box height */

color: #003546;
}

footer p, footer li {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.5;
}

footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ffffff;
}

.social-icons li a {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons li a:hover {
  color: #cccccc;
}

.social-icons li a i {
  display: inline-block;
  margin-right: 5px;
}

.fa-facebook:before {
  content: "\f09a";
  font-family: FontAwesome;
}

.fa-twitter:before {
  content: "\f099";
  font-family: FontAwesome;
}

.fa-instagram:before {
  content: "\f16d";
  font-family: FontAwesome;
}

@media (max-width: 768px) {
  .footer-item {
    width: 100%;
  }
